header{
    display: flex;
    align-items: center;
    height: 100px;
    .container{
        display: flex;
        align-items: center;
        width: 1170px;
        max-width: 100%;
        margin: 0 auto;
    }
    img{
        width: 60px;
    }
    li:first-child{
        padding-left: 40px;
    }
    ul{
        display: flex;
    }
    li{
        font-size: 10px;
        list-style: none;
        padding-left: 10px;
    }
    a{
        padding-bottom: 42px;
        text-decoration: none;
        color: #000;
    }

}